<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head th:replace="~{layout/plantilla :: head}">
        <title>EjercicioPractico1_AllanAzofeifa</title>        
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"/>
        
        <main>
            <section>
                <h1>Bienvenidos a la Farmacia</h1>
                <p>En nuestra farmacia encontrarás una amplia variedad de medicamentos y productos de salud.</p>
                <h2>Video informativo sobre el medicamento</h2>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/lSv3LaiCU-o?si=GEItYg78W7YKzVZO" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </section>
        </main>

        <footer th:replace="~{layout/plantilla :: footer}"/>          
    </body>
</html>

