<!DOCTYPE html>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/plantilla :: head}">
    <title>Gestión de Categorías</title>
</head>
<body>
    <section th:fragment="botonesAgregar" class="py-4 mb-4 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-3">   
                    <button type="button" class="btn btn-primary btn-block" data-bs-toggle="modal" data-bs-target="#agregarFarmacia">
                        <i class="fas fa-plus"></i> [[#{Categoria.agregar}]]
                    </button>
                </div>
            </div>
        </div>
    </section>

    <!-- Ventana modal para agregar categoría -->
    <section th:fragment="agregarCategoria">
        <div id="agregarCategoria" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header bg-info text-white">
                        <h5 class="modal-title">[[#{Categoria.agregar}]]</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div> 
                    <form th:action="@{/Categoria/guardar}" th:object="${Categoria}" method="POST" class="was-validated">
                        <div class="modal-body">
                            <div class="mb-3">
                                <label for="nombre">[[#{Categoria.nombre}]]</label>
                                <input type="text" class="form-control" name="nombre" required="true"/>
                            </div>
                            <div class="mb-3">
                                <label for="descripcion">[[#{Categoria.descripcion}]]</label>
                                <textarea class="form-control" name="descripcion"></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" type="submit">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- Listado de categorías -->
    <section th:fragment="listadoCategorias" id="Categorias">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="card">
                        <div class="card-header">
                            <h4>[[#{Categoria.listado}]]</h4>
                        </div>
                        <div th:if="${Categorias != null and !Categorias.empty}">
                            <table class="table table-striped table-hover">
                                <thead class="table-dark">
                                    <tr>
                                        <th>#</th>
                                        <th>[[#{Categoria.nombre}]]</th>
                                        <th>[[#{Categoria.descripcion}]]</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="Categoria, contador : ${categorias}">
                                        <td>[[${contador.index + 1}]]</td>
                                        <td>[[${Categoria.nombre}]]</td>
                                        <td>[[${Categoria.descripcion}]]</td>
                                        <td>
                                            <a th:href="@{/Categoria/eliminar/}+${Categoria.id}" class="btn btn-danger">
                                                <i class="fas fa-trash"></i> [[#{accion.eliminar}]]
                                            </a>
                                            <a th:href="@{/Categoria/modificar/}+${Categoria.id}" class="btn btn-success">
                                                <i class="fas fa-pencil"></i> [[#{accion.actualizar}]]
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="text-center p-2" th:if="${Categorias == null or Categorias.empty}">
                            <span>[[#{lista.vacia}]]</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>

